* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Dosis', sans-serif; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

p,
li,
a,
span {
  color: #2d2a26;
  line-height: 1.5rem; }

.container {
  max-width: 1050px;
  width: 90%;
  margin: 0 auto; }

.header {
  width: 100%;
  z-index: 9; }

.header-wrapper {
  width: 90%;
  padding: 32px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-wrapper .logo {
    width: 200px; }
    .header-wrapper .logo img {
      width: 100%; }

.header-menu {
  display: flex; }
  .header-menu .nav-menu {
    display: flex;
    align-items: center;
    gap: 48px; }
    .header-menu .nav-menu li {
      position: relative; }
      .header-menu .nav-menu li:hover::before, .header-menu .nav-menu li.current-menu-item::before {
        opacity: 1; }
      .header-menu .nav-menu li:hover a, .header-menu .nav-menu li.current-menu-item a {
        color: #ffc629; }
      .header-menu .nav-menu li::before {
        content: '';
        position: absolute;
        top: 55%;
        right: 100%;
        width: 12px;
        height: 12px;
        transform: translate3d(0, -50%, 0);
        background-color: #ffc629;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease-out; }
      .header-menu .nav-menu li a {
        display: block;
        padding: 8px;
        text-transform: lowercase;
        transition: color 0.2s ease-out; }

@media screen and (max-width: 768px) {
  .header-wrapper .logo {
    width: 120px; }
  .header-menu .nav-menu {
    gap: 12px; }
    .header-menu .nav-menu li::before {
      width: 8px;
      height: 8px; } }

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #2d2a26; }

.banner-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9; }

.banner-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2a2666;
  z-index: 1; }
  .banner-filter::before, .banner-filter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, #000, #00000000);
    opacity: 0.6;
    z-index: 1; }
  .banner-filter::after {
    top: unset;
    bottom: 0;
    background-image: linear-gradient(to top, #000, #00000000); }

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.banner-item {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  max-width: 960px;
  visibility: hidden;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1; }
  .banner-item.ativo {
    visibility: visible; }
    .banner-item.ativo .line {
      animation: lineDown 2s forwards; }
    .banner-item.ativo .category,
    .banner-item.ativo h3,
    .banner-item.ativo a {
      animation: enterText 2s forwards;
      animation-delay: 1s; }
    .banner-item.ativo h3 {
      animation-delay: 1.5s; }
    .banner-item.ativo a {
      animation-delay: 2s; }
  .banner-item.inativo {
    visibility: hidden;
    transition: visibility 0s;
    transition-delay: 4s; }
    .banner-item.inativo .line {
      height: 96px;
      animation: lineUp 2s forwards;
      animation-delay: 1s; }
    .banner-item.inativo .category,
    .banner-item.inativo h3,
    .banner-item.inativo a {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      animation: exitText 1s forwards;
      animation-delay: 1s; }
    .banner-item.inativo h3 {
      animation-delay: 0.5s; }
    .banner-item.inativo a {
      animation-delay: 0s; }
  .banner-item .line {
    position: absolute;
    top: -118px;
    left: 0;
    display: block;
    width: 2px;
    height: 0;
    background-color: #ffc629; }
  .banner-item .category {
    position: relative;
    display: block;
    transform: translate3d(-32px, 0, 0);
    opacity: 0;
    color: #fff;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 18px; }
  .banner-item h3 {
    margin: 0px 0 96px;
    transform: translate3d(-32px, 0, 0);
    opacity: 0;
    color: #fff;
    font-weight: bold;
    font-size: 76px;
    text-transform: lowercase; }
  .banner-item a {
    padding: 6px 24px;
    display: inline-block;
    background-color: #ffc629;
    border: 2px solid #ffc629;
    border-radius: 32px;
    transform: translate3d(-32px, 0, 0);
    opacity: 0;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s; }
    .banner-item a:hover {
      background-color: transparent;
      color: #ffc629; }

.banner-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: -1; }
  .banner-item-img.ativo {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1s, transform 10s;
    transition-timing-function: ease-out; }
  .banner-item-img.inativo {
    transform: scale(1.1);
    opacity: 0;
    transition: opacity 2s, transform 10s;
    transition-timing-function: ease-out;
    transition-delay: opacity 2s; }

.banner-buttons {
  display: flex;
  gap: 16px; }
  .banner-buttons .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease-out;
    cursor: pointer; }
    .banner-buttons .dot:hover, .banner-buttons .dot.ativo {
      background-color: #ffc629; }

@keyframes lineDown {
  0% {
    height: 0; }
  100% {
    height: 96px; } }

@keyframes lineUp {
  0% {
    height: 96px; }
  50%,
  100% {
    height: 0; } }

@keyframes enterText {
  0% {
    opacity: 0;
    transform: translate3d(-32px, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes exitText {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(-32px, 0, 0); } }

@keyframes enterImg {
  0% {
    opacity: 0;
    transform: scale(1); }
  10% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(1.05); } }

@keyframes exitImg {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.projeto-outside {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px; }

.projeto-card {
  position: relative;
  width: 100%;
  padding-top: 100%; }
  .projeto-card .projeto-card-dados {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2a2688;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    z-index: 1; }
    .projeto-card .projeto-card-dados:hover {
      opacity: 1; }
    .projeto-card .projeto-card-dados div {
      width: 60%; }
    .projeto-card .projeto-card-dados .line {
      display: block;
      width: 2px;
      height: 64px;
      background-color: #ffc629; }
    .projeto-card .projeto-card-dados .category,
    .projeto-card .projeto-card-dados .year {
      position: relative;
      display: block;
      color: #fff;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 15px; }
    .projeto-card .projeto-card-dados h3 {
      color: #fff;
      font-weight: bold;
      font-size: 42px;
      margin: -8px 0 8px;
      text-transform: lowercase; }
  .projeto-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.projeto {
  width: 100%;
  background-color: #f6f6f5; }

.projeto-img {
  position: relative;
  width: 100%;
  height: 90vh; }
  .projeto-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(to top, #000, #00000000);
    opacity: 0.6; }
  .projeto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.projeto-content {
  width: 100%;
  padding: 128px;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 32px; }

.projeto-dados {
  position: relative;
  width: 100%; }
  .projeto-dados .line {
    position: absolute;
    bottom: calc(100% + 64px);
    left: 0;
    width: 2px;
    height: 128px;
    background-color: #ffc629; }
    .projeto-dados .line::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 16px;
      height: 16px;
      background-color: #ffc629;
      border-radius: 50%;
      transform: translate3d(-50%, 0, 0); }
  .projeto-dados .category {
    position: relative;
    display: block;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 15px; }
  .projeto-dados h1 {
    position: relative;
    font-weight: bold;
    font-size: 42px;
    margin: -8px 0 48px;
    text-transform: lowercase;
    color: #2d2a26; }
    .projeto-dados h1::after {
      content: '';
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 32px;
      height: 2px;
      display: block;
      background-color: #ffc629; }

.projeto-descricao p {
  margin: 1.5rem 0;
  font-size: 18px;
  line-height: 27px; }
  .projeto-descricao p:nth-of-type(1) {
    margin-top: 0; }

.projeto-gallery {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto; }

.projeto-gallery-img {
  position: relative;
  width: 100%;
  height: 560px;
  background-color: #2d2a26; }
  .projeto-gallery-img.ativo::before, .projeto-gallery-img.ativo::after {
    opacity: 0.8; }
  .projeto-gallery-img::before, .projeto-gallery-img::after {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    padding: 0 16px;
    z-index: 9;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer; }
  .projeto-gallery-img::before {
    content: '';
    left: 0;
    background-image: linear-gradient(to right, #333, #33333300); }
  .projeto-gallery-img::after {
    content: '';
    right: 0;
    background-image: linear-gradient(to left, #333, #33333300);
    justify-content: flex-end; }

.projeto-gallery-img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out; }
  .projeto-gallery-img-item.ativo {
    opacity: 1;
    visibility: visible; }
  .projeto-gallery-img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.projeto-gallery-txt {
  padding: 128px;
  display: flex;
  justify-content: flex-end; }

.projeto-gallery-txt-item {
  width: 55%;
  display: none; }
  .projeto-gallery-txt-item.ativo {
    display: block; }
  .projeto-gallery-txt-item p {
    margin: 1.5rem 0; }

.projeto-gallery-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 32px;
  background-color: #fffffff7;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out; }
  .projeto-gallery-grid.ativo {
    opacity: 1;
    visibility: visible; }
  .projeto-gallery-grid .projeto-gallery-grid-close {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: background-color 0.1s ease-out;
    cursor: pointer; }
    .projeto-gallery-grid .projeto-gallery-grid-close:hover {
      background-color: #ffc629; }
    .projeto-gallery-grid .projeto-gallery-grid-close span {
      position: relative;
      display: block;
      width: 32px;
      height: 32px; }
      .projeto-gallery-grid .projeto-gallery-grid-close span::before, .projeto-gallery-grid .projeto-gallery-grid-close span::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        background-color: #2d2a26;
        transform: translate3d(-50%, -50%, 0); }
      .projeto-gallery-grid .projeto-gallery-grid-close span::before {
        transform: translate3d(-50%, -50%, 0) rotate(45deg); }
      .projeto-gallery-grid .projeto-gallery-grid-close span::after {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg); }

.projeto-gallery-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 32px; }
  .projeto-gallery-grid-wrapper .projeto-gallery-grid-item {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .projeto-gallery-grid-wrapper .projeto-gallery-grid-item:hover::after {
      opacity: 0.3; }
    .projeto-gallery-grid-wrapper .projeto-gallery-grid-item::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0;
      transition: 0.3s opacity ease-out; }
    .projeto-gallery-grid-wrapper .projeto-gallery-grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.projeto-gallery-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between; }

.projeto-gallery-controls,
.projeto-gallery-screen {
  display: flex;
  gap: 16px; }
  .projeto-gallery-controls button,
  .projeto-gallery-screen button {
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    transition: background-color 0.1s ease-out;
    cursor: pointer; }
    .projeto-gallery-controls button:hover,
    .projeto-gallery-screen button:hover {
      background-color: #ffc629; }
    .projeto-gallery-controls button img,
    .projeto-gallery-screen button img {
      width: 16px;
      height: 16px; }

.estudio-banner {
  width: 100%;
  height: calc(100vh - 104px);
  padding-bottom: 96px;
  background-color: #f6f6f6; }
  .estudio-banner .container {
    height: 100%;
    padding-right: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px; }
    .estudio-banner .container .fruta {
      width: 200px; }
    .estudio-banner .container .logo {
      width: 400px; }

.estudio-sobre {
  width: 100%;
  padding: 128px 0;
  background-color: #f6f6f6; }
  .estudio-sobre .container {
    padding: 0 128px;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 64px; }

.estudio-sobre-title {
  position: relative; }
  .estudio-sobre-title .line {
    position: absolute;
    bottom: calc(100% + 64px);
    left: 0;
    width: 2px;
    height: 128px;
    background-color: #ffc629; }
    .estudio-sobre-title .line::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 16px;
      height: 16px;
      background-color: #ffc629;
      border-radius: 50%;
      transform: translate3d(-50%, 0, 0); }
  .estudio-sobre-title h1 {
    font-weight: bold;
    font-size: 42px;
    margin: -8px 0 0;
    text-transform: lowercase;
    color: #2d2a26; }
  .estudio-sobre-title strong {
    position: relative;
    display: block;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 15px; }

.estudio-sobre-content p {
  margin: 1.5rem 0;
  font-size: 18px;
  line-height: 27px; }
  .estudio-sobre-content p:nth-of-type(1) {
    margin-top: 0; }

.estudio-equipe {
  width: 100%;
  background-color: #f6f6f6; }
  .estudio-equipe .container {
    padding-left: 128px;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: calc(50% - 330px); }

.estudio-equipe-item {
  width: 100%; }
  .estudio-equipe-item .estudio-equipe-item-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 32px; }
    .estudio-equipe-item .estudio-equipe-item-img::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border: 2px solid #ffc629;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0); }
    .estudio-equipe-item .estudio-equipe-item-img img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 95%;
      height: 95%;
      transform: translate3d(-50%, -50%, 0); }
  .estudio-equipe-item .estudio-equipe-item-txt p {
    font-size: 18px;
    line-height: 27px; }

.estudio-clientes {
  width: 100%;
  padding: 256px 0 128px;
  background-color: #f6f6f6; }
  .estudio-clientes .container {
    padding: 0 128px;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 64px; }

.estudio-clientes-title {
  position: relative; }
  .estudio-clientes-title .line {
    position: absolute;
    bottom: calc(100% + 32px);
    left: 0;
    width: 2px;
    height: 128px;
    background-color: #ffc629; }
  .estudio-clientes-title strong {
    position: relative;
    display: block;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 15px; }
  .estudio-clientes-title h2 {
    margin: 0;
    color: #2d2a26;
    font-size: 42px;
    font-weight: bold;
    text-transform: lowercase; }

.estudio-clientes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px; }
  .estudio-clientes-wrapper .estudio-clientes-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%;
    filter: grayscale(1); }
    .estudio-clientes-wrapper .estudio-clientes-item img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate3d(-50%, -50%, 0); }

.maps {
  width: 100%; }
  .maps iframe {
    width: 100%;
    height: 460px;
    border: none;
    filter: grayscale(1); }

.footer {
  width: 100%;
  padding: 64px 0; }

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px; }
  .footer-left a {
    display: flex; }
    .footer-left a img {
      width: 48px;
      height: 48px; }
  .footer-left div {
    display: flex;
    flex-direction: column; }
    .footer-left div span {
      display: block;
      font-size: 14px;
      margin: 2px 0; }

.footer-right {
  display: flex;
  align-items: center;
  gap: 48px; }
  .footer-right a {
    font-size: 14px;
    display: block;
    line-height: 21px; }
  .footer-right > a:hover {
    color: #ffc629;
    text-decoration: underline; }
  .footer-right .contato {
    display: flex;
    flex-direction: column; }
    .footer-right .contato > a:hover {
      color: #ffc629;
      text-decoration: underline; }
  .footer-right .midias {
    display: flex;
    align-items: center; }
    .footer-right .midias a {
      padding: 4px; }
      .footer-right .midias a:hover svg {
        fill: #ffc629; }
      .footer-right .midias a svg {
        width: 20px;
        height: 20px;
        fill: #2d2a26; }

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible; } }

