.projeto-gallery {
  width: 85%;
  max-width: 1480px;
  margin: 0 auto;
}

.projeto-gallery-img {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: $black;

  &:fullscreen {
    width: 100vw;
    height: 100vh;
    padding-top: 0;
  }

  &.ativo {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    padding: 0 32px;
    z-index: 9;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &::before {
    content: '<';
    left: 0;
    justify-content: flex-start;
  }

  &::after {
    content: '>';
    right: 0;
    justify-content: flex-end;
  }
}

.projeto-gallery-img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out;

  &.ativo {
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.projeto-gallery-txt {
  padding: 64px 128px 128px;
  display: flex;
  justify-content: flex-end;
}

.projeto-gallery-txt-item {
  width: 55%;
  display: none;

  &.ativo {
    display: block;
  }

  p {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .projeto-gallery {
    width: 100%;
  }

  .projeto-gallery-txt-item {
    width: 100%;
  }

  .projeto-gallery-txt {
    padding: 64px 0 64px 32px;
  }

  .projeto-gallery-img {
    padding-top: 56.25%;
  }
}

@import './grid';
@import './controls';
