.projeto {
  width: 100%;
  background-color: #f6f6f5;
}

.projeto-img {
  position: relative;
  width: 100%;
  height: 90vh;
  opacity: 0;
  transition: opacity 1.5s ease-out;

  &.animar {
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(to top, #000, #00000000);
    opacity: 0.6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .projeto-img {
    height: calc(100vh - 104px);
  }
}

@import './content';
@import './gallery';
