.projeto-outside {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.projeto-card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  .projeto-card-dados {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2a2688;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    div {
      width: 60%;
    }

    .line {
      display: block;
      width: 2px;
      height: 64px;
      background-color: $yellow;
    }

    .category,
    .year {
      position: relative;
      display: block;
      color: #fff;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 1vw;
    }

    h3 {
      margin: -0.5vw 0 8px;
      color: #fff;
      font-weight: bold;
      font-size: 3.5vw;
      line-height: 3.5vw;
      text-transform: lowercase;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s transform ease-out;
  }
}

@media screen and (max-width: 768px) {
  .projeto-outside {
    grid-template-columns: 1fr;
  }

  .projeto-card {
    .projeto-card-dados {
      .category,
      .year {
        font-size: 16px;
      }

      h3 {
        margin: -4px 0 8px;
        font-size: 36px;
        line-height: 36px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
