.estudio-banner {
  width: 100%;
  height: calc(100vh - 104px);
  padding-bottom: 96px;
  background-color: #f6f6f6;

  .container {
    height: 100%;
    padding-right: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;

    .fruta {
      width: 200px;
      opacity: 0;
      transform: translate3d(50%, 0, 0);
      transition: transform 1.5s 0.5s, opacity 1.5s;
      transition-timing-function: ease-in-out;

      &.animar {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .logo {
      width: 400px;
      opacity: 0;
      transition: opacity 1s 1.5s;
      transition-timing-function: ease-in-out;

      &.animar {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .estudio-banner .container {
    padding-right: 0;
    flex-direction: column;
    gap: 64px;

    .fruta {
      width: 140px;
      transform: translate3d(30%, 0, 0);
    }

    .logo {
      width: 80%;
    }
  }
}

@import './estudio';
@import './equipe';
@import './clientes';
@import './maps';
